body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/background.png');
    background-size: cover;
    background-position: center;
    z-index: -1; /* Fundalul este în spatele conținutului */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}
